<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qaautomation.tests.RegisterPageTest"/>
      <class name="com.qaautomation.tests.LoginPageTest"/>
      <class name="com.qaautomation.tests.HomePageTest"/>
      <class name="com.qaautomation.tests.AccountPageTest"/>
      <class name="com.qatestng.TestNgConcept.TestNgConcept"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
